# اعتبار ملفات الـ Razor كأنها C# أو إخفائها من الإحصائيات
*.razor linguist-language=CSharp
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# لو عندك مكتبات خارجية مش عايزها تتحسب في لغة المشروع
wwwroot/** linguist-vendored
