@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User) ;
}
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link fw-bold text-dark"> خروج <i class="bi bi-arrow-right-circle-fill"></i></button>
            </form>
        </li>
        if (User.HasClaim(c => c.Type == SD.Role_Admin))
        {
            <li class="nav-item">
                <a class="nav-link text-dark fw-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">  ! @user.FullName اهلاً  </a>
            </li>

        }
        else
        {
            <li class="nav-item text-dark fw-bold nav-link">
                ! @user!.FullName اهلاً
            </li>
        }

}
else
{
   
    <li class="nav-item">
            <a class="nav-link btn btn-link fw-bold text-dark" asp-area="Identity" asp-page="/Account/Login">تسجيل دخول <i class="bi bi-box-arrow-in-left fw-bold"></i> </a>
    </li>
}
</ul>
