
.dash-card {
    text-decoration: none;
    color: inherit;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.dash-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.dash-card p {
    margin-top: 4px;
    font-weight: 500;
    color: #6c757d; /* text-secondary */
}

