.dash-card {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.dash-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.dash-card .card-body p {
    font-weight: 500;
    color: #6c757d;
}

