@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container mt-4">
    <!-- زر العودة -->
    <div class="mb-3 text-start">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary fw-bold">
            <i class="bi bi-arrow-left fw-bold"></i> العودة للرئيسية
        </a>
    </div>

<div class="mt-5">
    <h1>لوحة التحكم فى حسابك </h1>
    <hr />
    <div class="row">
        <div class="col-md-3 mt-5">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
